@model PlataformaAvaliacao.Models.Disciplina
@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes da Disciplina</h1>

<hr />
<div class="card bg-metal border-secondary shadow-sm">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nome)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Nome)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Codigo)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Codigo)</dd>
        </dl>
        <a asp-controller="Disciplina" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary rounded-pill">Editar</a>
        <a asp-controller="Disciplina" asp-action="Index" class="btn btn-outline-light rounded-pill">Voltar</a>
    </div>
</div>