@model PlataformaAvaliacao.Models.Avaliacao
@{
    var isDelete = ViewData["Title"]?.ToString() == "Delete";
    ViewData["Title"] = isDelete ? "Excluir Avaliação" : "Detalhes da Avaliação";
}
<h1>@ViewData["Title"]</h1>
<hr />
<div class="card bg-metal border-secondary shadow-sm">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.MatriculaId)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.MatriculaId)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nota)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Nota)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Comentario)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Comentario)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Recomendarai)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Recomendarai)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.DataAvaliacao)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.DataAvaliacao)</dd>
        </dl>

        @if (isDelete) {
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger rounded-pill">Confirmar Exclusão</button>
                <a asp-action="Index" class="btn btn-outline-light rounded-pill">Cancelar</a>
            </form>
        }
        else {
            <a asp-controller="Avaliacao" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary rounded-pill">Editar</a>
            <a asp-controller="Avaliacao" asp-action="Index" class="btn btn-outline-light rounded-pill">Voltar</a>
        }
    </div>
</div>