@model PlataformaAvaliacao.Models.Avaliacao
@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes de Avaliação</h1>

<hr />
<div class="card bg-metal border-secondary shadow-sm">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.MatriculaId)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.MatriculaId)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nota)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Nota)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Comentario)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Comentario)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Recomendarai)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Recomendarai)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.DataAvaliacao)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.DataAvaliacao)</dd>
        </dl>
        <a asp-controller="Avaliacao" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary rounded-pill">Editar Avaliação</a>
        <a asp-controller="Avaliacao" asp-action="Index" class="btn btn-outline-light rounded-pill">Voltar</a>
    </div>
</div>